---
import Layout from '../layouts/Layout.astro'
---
<Layout title="404 not found">
  <h1>404 not found</h1>
  <p>Sorry, the page you're looking for doesn't exist.</p>
  <a href="/">Go back home</a>
</Layout>